.stmt {
  border: 1px solid transparent;
  border-left-width: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}
.stmt--active {
  border-color: #E0BAD7;
}
.stmt--editing {
  border-color: #48BF84;
}
.stmt textarea, .stmt pre {
  background: inherit;
  border: 0;
  color: inherit;
  font: 400 1rem "monaco", "menlo", "consolas", "inconsolata", monospace;
  padding: 0;
  resize: none;
  tab-size: 1rem;
  width: 100%;
  line-height: 1.5;
  margin: 0;
}
.stmt textarea:focus {
  outline: 0;
}
.stmt pre {
  margin-bottom: 4px;
}
